/* Licence: MIT
 * General styles for the footer menu.
---------------------------------------------------- */

#footermenu
{
	table-layout: fixed;
	width: 100%;
	border-top: 1px solid #CCC;
	margin-top: 2em;
}

#footermenu td
{
	vertical-align: top;
}

#footermenu a
{
	border-bottom: dotted 1px grey;
	margin-bottom: 0.25em;
	padding: 0.25em;
	text-decoration: none;
	display: block;
}

#footermenu p
{
	border-bottom: 1px solid #D8D2C2;
	margin-bottom: 0.25em;
	padding-bottom: 0.25em;
	color: #d97b33;
	font-size: 1.25em;
}