/* ---- Glossary List Menu ------ */
/* Glossary list heading */
.glossarytitle {
	padding: 5px 2.5%;
}
.glossarytitle table tbody tr {
	margin: 4px 0 0 0;
	padding: 0 10px;
	overflow: hidden;
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.08);
	background: #fff;
	background-image: linear-gradient(to bottom, #fff 0%, #f1f3f5 95%);
	font-size: larger;
	font-weight: bold;
}

.glossarytitle table tbody tr td span.smalltext, .glossarytitle table tbody tr td.smalltext {
	font-size: small;
	font-weight: normal;
}

.glossarytitle a {
	background: none;
	color: #555;
	font-family: Georgia, TimesNewRoman, Times New Roman, Times, Baskerville, serif;
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
	font-weight: bold;
	text-shadow: none;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
}

.glossarytitle a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.glossarytitle a img, .glossarytitle button span img {
	vertical-align: text-bottom;
}

div.letter_selection {
	border-bottom: 1px solid #696969;
	background: #F0F0F0;
	padding: 8px 0;
	font-weight: bold;
	font-size: 1.5em;
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
	font-family: Georgia, TimesNewRoman, Times New Roman, Times, Baskerville, serif;
}

.glossary_alert {
	color: red !important;
	text-decoration: underline;
}

/* Glossary actions, keywords and definitions */
.glossary_keyword_def {
	vertical-align: top;
	padding: 3px 0;
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
	font-family: Georgia, TimesNewRoman, Times New Roman, Times, Baskerville, serif;
}

.glossary_keyword_def div, .glossary_keyword_def b div {
	float: left;
}

.glossary_hr {
	width: 95%;
	margin: 6px 0;
}

.glossary_heading {
	font-family: Georgia, TimesNewRoman, Times New Roman, Times, Baskerville, serif;
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
}

.glossary_item {
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
	font-family: Georgia, TimesNewRoman, Times New Roman, Times, Baskerville, serif;
}

/* Tooltip for action titles */
.glossaryaction {
	vertical-align: top;
	padding: 5px 15px 0 0;
}

.glossaryaction a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.glossaryaction a:hover::after {
	content: attr(data-title);
	position: absolute;
	z-index: 1;
	white-space: nowrap;
	max-width: 300px;
	width: auto;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.6);
	border-width: thin;
	background-color: #fff;
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
	border-radius: 6px;
	padding: 5px 15px;
	top: 100%;
	left: 50%;
}

td.glossaryaction input, td.glossaryaction a img {
	padding: 0 1px;
}


/* ---- Modal Dialog Box ------ */
/* Overlay */
#ModalOverlay {
	background-color: #eee;
	cursor: wait;
}

/* Container */
#ModalContainer {
	position: fixed !important;
	top: 10vh !important;
	left: 50vw !important;
	transform: translate(-50%, 0);
	font-family: Georgia, TimesNewRoman, Times New Roman, Times, Baskerville, serif;
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
	font-size: 1em;
	height: auto !important;
	width: 450px;
	padding-bottom: 10px;
	text-align: left;
	background: #fff;
	border: 2px solid #336699;
}

#ModalContainer .header {
	height: 30px;
	width: 100%;
	background: url(../glossary/images/glossary_header.gif) repeat-x;
	color: #fff;
	font-size: 1.1em;
	font-weight: bold;
}

#ModalContainer .header span {
	padding-left: 8px;
}

#ModalContainer .buttons {
	float: right;
	padding: 0 8px;
}

#ModalContainer .buttons div {
	float: right;
	margin-left: 8px;
	width: 70px;
	height: 26px;
	color: #666;
	font-weight: bold;
	text-align: center;
	background: url(../glossary/images/glossary_button.gif) repeat-x;
	border: 1px solid #bbb;
	cursor: pointer;
	font-size: 0.8em;
}

#ModalContainer .ModalContent {
	font-size: 0.8em;
	padding: 10px;
}

#ModalContainer .ModalContent fieldset{
	padding: 5px;
}

#ModalContainer .ModalContent input.text {
	margin-bottom: 12px;
	width: 96%;
	padding: .4em;
}

#ModalContainer .ModalContent textarea {
	margin-bottom: 12px;
	width: 96%;
	padding: .4em;
}

#ModalContainer label {
	display: -moz-inline-box;
	display: inline-block;
	padding: 5px 0 0;
	font-weight: bold;
}

#IE #ModalContainer label,
#IE #ModalContainer .input-submit{
	display: inline;
}

#glossary_admin_menu {
	background-color: #FAFAFA;
	max-width: 240px;
	width: auto;
	position: absolute;
	margin-top: 7px;
	padding: 5px;
	border: 1px solid #969696;
	line-height: 150%;
	display: none;
	right: 21%;
	font-size: 110%;
}

#glossary_admin_menu img {
	vertical-align: middle;
	padding-left: 5px;
}

/* ---- Keyword Tooltips in Messages, PMs, signatures, and/or News items ------ */
/* Font and color used for showing keyword tooltip in message */
span.glossary {
	font-family: Georgia, TimesNewRoman, Times New Roman, Times, Baskerville, serif;
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
	position: relative;
	z-index: 7;
	color: #3CA3FF;
	font-weight: bold;
	text-decoration: none;
	cursor: help;
}
